<%- include header %>
<h1>Users Page</h1>
<p class="lead"> Say something worthwhile here.</p>
<p><h2>Hello, <%= user.username %>.</h2></p>
<p>Username: <%= user.username %></p>
<p>Email: <%= user.email %></p>

<%- include footer %>
